
html { }
body { max-width: 1320px; margin: auto;}


/* HEADER */



/* MAIN */
/*Defino el formato de los titulos y los parrafos */
h1,h2,h3,h4,h5 { font-family: 'Manrope', sans-serif; font-weight: 600; }
h1 { font-size: 1.375rem;  margin: 20px 0 20px 0; color:var(--azul-logo)  }
h2 { font-size: 1.25rem; margin-bottom: 10px; color:var(--celeste-logo)  }
h3 { font-size: 1.1875rem;  margin-bottom: 10px; color:var(--celeste-logo)}
h4 { font-size: 1rem;  margin-bottom: 10px;color:var(--celeste-logo)}

p, a { font-family: 'Montserrat', sans-serif; font-size: 1.1875rem; font-weight: 200; }

.imagenBanner { width: 100%; border: 1px solid #CCCCCC; border-radius: 10px;}
.imagenHotelInicio {width: 18.75rem; height: 12.5rem; padding: .1875rem; background-color: #FFFFFF; border: 1px solid #CCCCCC; border-radius: 10px;} 

hr {
    margin: 15px 0 15px 0;
    color: #fffbfb;
}

/* GRID */
.contenedor-grids
{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    grid-template-areas: 
    "gridbanner gridbanner gridbanner" 
    "grid1 grid2 grid2" 
    "grid4 grid4 grid3" 
    "grid5 grid6 grid6";
    align-items: center;
}

.grid-banner 
{
    height: 250px;
    grid-area: gridbanner;
}
.grid-banner img { object-fit: cover; width: 100%; height: 100%;}

.grid-uno
{
    grid-area: grid1;
    padding: .625rem;
}

.grid-uno img { object-fit: cover; width: 100%; height: 100%;}

.grid-dos
{
    grid-area: grid2;
    padding: .625rem;
}

.grid-tres
{
    grid-area: grid3;
    padding: .625rem;
}

.grid-cuatro
{
    grid-area: grid4;
    padding: .625rem;
}

.grid-cinco
{
    grid-area: grid5;
    padding: .625rem;
}

.grid-seis
{
    grid-area: grid6;
    padding: .625rem;
}




/* FLEX */
.contenedor-cards
{
    display: flex;
    flex-wrap: wrap;
    margin: 1.25rem 0 1.25rem 0;
    justify-content: space-evenly;
}

.card 
{
    width: 30rem;
    background-color: #fff9eb;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px .625rem #cccccc;
    margin: 5px 10px 5px 10px;
    padding: .625rem;
}
.card .titulo { margin: 5px 0;}
.card img { width: 100%; }

.card-1 { order: 2; }
.card-2 { order: 4; }
.card-3 { order: 3; }
.card-4 { order: 1; }

.titulo_principal 
{
    margin: .3125rem 0 .3125rem .625rem;
}



.img_whatsapp 
{ 
    position: fixed;
    width: 40px; 
    height: 40px; 
    right: 0px; 
    bottom: 0px;
    margin: 30px;
}








