
@media (max-width: 425px) 
{

    .contenedor-grids
    {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(7, auto);
        justify-content: center;
        grid-template-areas: 
        "gridbanner" 
        "grid1" 
        "grid2" 
        "grid3" 
        "grid4" 
        "grid5" 
        "grid6";
        align-items: center;
    }
}