@media (max-width: 768px) 
{

    .contenedor-grids
    {
        @include grid (100%, repeat(6, auto), center, center, 30px);
        width: 100%;
        grid-template-areas: 
        "grid1" 
        "grid2" 
        "grid3" 
        "grid4" 
        "grid5" 
        "grid6";
    }

    .imagenHotelInicio
    {
        width: 100%;
        height: 300px;
    }

    header {
        flex-direction: column;
        border-bottom: 1px solid #ccc;
        
        .logo{
            width: 194px !important;
        }
        
        nav ul {
            flex-direction: column;
            align-items: center; /* Centra los ítems horizontalmente */
            margin: 0px;
            margin-bottom: 20px !important;

            li {
                margin: .3125rem 0; /* Ajuste para separación vertical */
                width: 100%;
                a {
                    &.active{
                        border-top: 0px !important;
                    }

                    font-size: 20px !important;
                    text-align: center; /* Centra el texto dentro del enlace */
                    line-height: 40px;
                    color: #cd9540;
                    width: 100%;
                    border-bottom: 1px solid #ccc;
                    margin: 0px;
                    text-align: end;
                    padding: 10px 0 !important;
                    span
                    {
                        display: block !important;
                        line-height: 20px !important;
                        padding: 0px !important;
                        white-space: normal !important;
                        border-right: none !important;
                        border-right-color: none !important;
                        border-color: none !important;

                    }

                }
            }
        }

        .navbar-toggler
        {
            margin: 20px;
        }
    }


    main{
        .titulo{
            margin-top: 10px;
        }
        .contenedor-cards{
            .card{
                .titulo{
                    margin: 20px 0 20px 0;
                }
            }
        }
    }
}