

@media (max-width: 375px) 
{
    header .logo {  
        width: 12.25rem; 
        height: 4.5rem; 
        display: block;
        margin: 0 auto;
    }
    
    .contenedor-grids
    {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-template-rows: repeat(6, auto);
        justify-content: center;
        grid-template-areas: 
        "grid1" 
        "grid2" 
        "grid3" 
        "grid4" 
        "grid5" 
        "grid6";
        align-items: center;
    }
}