

@media (max-width: 375px) 
{
    
    header { 
        border-bottom: 1px solid #ccc;
        .navbar-toggler
        {
            margin: 20px;
        }
        .logo {  
            width: 12.25rem; 
            height: 4.5rem; 
            display: block;
            margin: 0 auto;
        }
    }

    main{
        .titulo{
            margin-top: 10px;
        }
    }
    
    .contenedor-grids
    {
        @include grid (100%, repeat(6, auto), center, center, 30px);

        width: 100%;
        grid-template-areas: 
        "grid1" 
        "grid2" 
        "grid3" 
        "grid4" 
        "grid5" 
        "grid6";
    }

}