
@media (max-width: 425px) 
{

    header { 
        border-bottom: 1px solid #ccc;
        .navbar-toggler
        {
            margin: 20px;
        }
    }
    main{
        .titulo{
            margin-top: 10px;
        }
    }
    
    .contenedor-grids
    {
        @include grid (100%, repeat(7, auto), center, center, 30px);
        width: 100%;
        grid-template-areas: 
        "gridbanner" 
        "grid1" 
        "grid2" 
        "grid3" 
        "grid4" 
        "grid5" 
        "grid6";
    }

}