@media (max-width: 768px) 
{

    .contenedor-grids
    {
        @include grid (100%, repeat(6, auto), center, center, 30px);
        width: 100%;
        grid-template-areas: 
        "grid1" 
        "grid2" 
        "grid3" 
        "grid4" 
        "grid5" 
        "grid6";
    }

    .imagenHotelInicio
    {
        width: 100%;
        height: 300px;
    }

    header {
        flex-direction: column;
        border-bottom: 1px solid #ccc;
        
        nav ul {
            flex-direction: column;
            align-items: center; /* Centra los ítems horizontalmente */
            margin-bottom: .65rem;

            li {
                margin: .3125rem 0; /* Ajuste para separación vertical */
                a {
                    text-align: center; /* Centra el texto dentro del enlace */
                }
            }
        }

        .navbar-toggler
        {
            margin: 20px;
        }
    }


    main{
        .titulo{
            margin-top: 10px;
        }
        .contenedor-cards{
            .card{
                .titulo{
                    margin: 20px 0 20px 0;
                }
            }
        }
    }
}