
/* Media Responsive */
@media (max-width: 1024px) 
{
    header{
        border-bottom: 1px solid #ccc;
        nav ul li a { font-size: 1rem; }
        
        .logo {
            width: 194px !important;
        }
    }
}

