@media (max-width: 320px) 
{
    header .logo {  
        height: 4.5rem; 
        display: block;
        margin: 0 auto;
        width: 200px;   
        
    }

    .contenedor-grids
    {
        @include grid (100%, repeat(6, auto), center, center, 30px);

        width: 100%;
        grid-template-areas: 
        "grid1" 
        "grid2" 
        "grid3" 
        "grid4" 
        "grid5" 
        "grid6";
    }


    main{
        .titulo{
            margin-top: 10px;
        }
    }
    

}
