$naranja-logo : #e68106;
$celeste-logo: #16adc8;
$azul-logo: #0287c0;
$menu-activo: #cd9540;
$fondo-negro: #202024;

$fondo-facebook: #3b5998;
$fondo-twitter: #55acee;
$fondo-google: #dd4b39;
$fondo-instagram: #ac2bac;
$fondo-linkedin: #0082ca;