header { 
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    .logo {  
        width: 12.25rem; 
        height: 4.5rem; 
    }
    nav ul { 
        margin-top: .8125rem; 
        list-style-type: none; 
        padding: 0;  
        display: flex; 
        gap: 3px;
        li 
        {
            margin: .625rem;
            a 
            { 
                float:right; 
                font-size: 0.9rem; 
                text-decoration: none; 
                font-weight: 500; 
                display: inline; 
                color:#222;
            }
            &:hover { color: $menu-activo; }
        }
    }
}