@keyframes moverLogo {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  
header { 
    @include flex(row, wrap, space-evenly, center, 20px);
    border-bottom: 1px solid #ccc;
    .logo {
        animation: moverLogo 1s ease-in-out;
    }
    nav ul { 
        margin-top: .8125rem; 
        list-style-type: none; 
        padding: 0;  
        display: flex; 
        gap: 3px;
        li 
        {
            margin: .625rem;
            a 
            { 
                float:right; 
                font-size: 0.9rem; 
                text-decoration: none; 
                font-weight: 500; 
                display: inline; 
                color:#222;
            }
            &:hover { color: $menu-activo; }
        }
    }
}