.bannertop_habitaciones{
    height: 240px;
    background-image: url('../assets/img/banners/6.jpg');
    background-position-y: bottom;
    background-position-x: center;
}

.contenedor-grids
{
    @include grid (repeat(3, 1fr), repeat(4, auto), center, center, 30px);
    width: 100%;
    grid-template-areas: 
    "gridbanner gridbanner gridbanner" 
    "grid1 grid2 grid2" 
    "grid3 grid4 grid4" 
    "grid5 grid6 grid6";
}

.grid_default {
    padding: .625rem;
}

.cover-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.grid-banner {
    height: 250px;
    grid-area: gridbanner;
}

.grid-uno{
    @extend .grid-default !optional;
    grid-area: grid1;
}


.grid-dos{
    @extend .grid-default !optional;
    grid-area: grid2;
}

.grid-tres
{
    @extend .grid-default !optional;
    grid-area: grid3;
}

.grid-cuatro
{
    @extend .grid-default !optional;
    grid-area: grid4;
}

.grid-cinco
{
    @extend .grid-default !optional;
    grid-area: grid5;
}

.grid-seis
{
    @extend .grid-default !optional;
    grid-area: grid6;
}

.grid-banner img{
    @extend .cover-image;
}

.grid-uno img {
    @extend .cover-image;
}
