
/* FLEX */
.contenedor-cards
{
    display: flex;
    flex-wrap: wrap;
    margin: 1.25rem 0 1.25rem 0;
    justify-content: space-evenly;
}

.card 
{
    width: 30rem;
    background-color: #fff9eb;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px .625rem #cccccc;
    margin: 5px 10px 5px 10px;
    padding: .625rem;

    .titulo { margin: 5px 0;}
    img { width: 100%; }
}

.card-1 { order: 2; }
.card-2 { order: 4; }
.card-3 { order: 3; }
.card-4 { order: 1; }
