.imagenBanner { width: 100%; border: 1px solid #CCCCCC; border-radius: 10px;}
.imagenHotelInicio {width: 18.75rem; height: 12.5rem; padding: .1875rem; background-color: map-get($map: $colores-fondo, $key: blanco); border: 1px solid #CCCCCC; border-radius: 10px;} 
